mass-gen.py
**.vscode/
.vscode/
.vscode/
!.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
__pycache__/
*.pyc
*.pyo
*.pyd
icon-no-bg.png
.gitignore
main.spec
dist/
build/